/* general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #777777;
	background-image: url("./images/qbkls.png");
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
	color: #4aaaa5;
}

hr {
	border: 1.5px solid #d3d3d3;
	margin-bottom: 30px; 
}

.container {
	width: 920px;
  padding: 20px;
	margin: 0 auto;
	margin-top: 10px;
	background: white;
	margin-bottom: auto;
}

/* navigation and footer */
.navbar {
	background: white;
	border-bottom: 2.5px solid #cccccc;
}

a.nav-link.text-secondary:hover {
	color: #4aaaa5 !important;
}

.navbar-default {
	padding-bottom: 0px;
}

.navbar-header {
	margin: 0 auto;
	width: 920px;
	bottom: 0;
}

.navbar-brand {
	float: left;
	background: #4aaaa5;
	padding: 20px;
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 26px;
}

.nav {
	float: right;
	padding-top: 20px;
}

.footer {
	bottom: 0px;
	background: #666666;
	color: #ececec;
	text-align: center;
	margin: 20px 0 0 0;
	padding: 10px;
	border-top: 8px solid #4aaaa5;
	clear: both;
}

#footer {
	background: #666666;
	border: none;
	color: #ececec;
	text-align: center;
	border-top: 8px solid #4aaaa5;
}

.navbar-text {
	text-align: center;
	width: 100%;
}

/* portfolio */
.banner {
	background: #4aaaa5;
	color: white;
	padding: 15px 0;
	position: relative;
	bottom: 60px;
	z-index: 1;
	width: 100%;
	text-align: center;
	margin: 0;
}

/* index */
#bio {
	width: 30%;
	height: auto;
	margin: 0 10px 5px 0;
}

.btn-primary {
	background-color: #4aaaa5;
	border: none;
	width: 15%;
}

/* contact */

#inputMessage {
	padding: 20px 10px 150px 10px;
}